


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    line-height: 1.3;
    -webkit-text-size-adjust: 100%;
    background: #f9f9f9;
}

.overflow {
    overflow: hidden;
}

img {
    max-width: 100%;
    outline: none;
    border: 0;
}

.mobile-only {
    display: none;
}

.clear {
    display: table;
    clear: both;
}

ul {
    margin: 0;
    list-style-type: none;
}

a {
    color: #8fbf0d;
    text-decoration: underline;
    font-weight: 700;
}

a:hover {
    color: #8fbf0d;
    text-decoration: none;
}

.wrapper {
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
}

.center {
    text-align: center;
}

/***************    header start     ************/
.header-top {
    background: #f9f9f9;
    font-size: 0;
    padding: 8px 0;
}

.header-top__nav {
    font-size: 0;
    width: 82%;
    display: inline-block;
    vertical-align: middle;
}

.header-top__nav-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.header-top__nav-item::after {
    content: "";
    background: #d4d4d4;
    width: 4px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 13px;
}



.header-top__nav-item.upper {
    text-transform: uppercase;
}

.header-top__nav-item a {
    color: #686868;
    font-weight: 700;
    text-decoration: none;
}

.header-top__nav-item a.active,
.header-top__nav-item a:hover {
    color: #8fbf0d;
    text-decoration: none;
}

.header-top__nav-item .header-top__date {
    background: #53adb7;
    display: inline-block;
    color: #fff;
    font-size: 13px;
    padding: 5px;
}

.header-top__search {
    width: 18%;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.header-top__search input {
    font-family: 'Montserrat',
        sans-serif;
    color: #000;
    font-size: 12px;
    border: 0;
    border-left: 1px solid;
    padding: 5px 10px;
    background: transparent;
    outline: none;
    -webkit-transition: .3s;
    transition: .3s;
}

.header-top__search input:focus {
    border-color: #8fbf0d;
}

input::-webkit-input-placeholder {
    color: #000000;
}

input::-moz-placeholder {
    color: #000000;
}

input:-moz-placeholder {
    color: #000000;
}

input:-ms-input-placeholder {
    color: #000000;
}

.header-top__search input:focus::-webkit-input-placeholder {
    color: #8fbf0d
}

.header-top__search input:focus::-moz-placeholder {
    color: #8fbf0d
}

.header-top__search input:focus::-moz-placeholder {
    color: #8fbf0d
}

.header-top__search input:focus::-ms-input-placeholder {
    color: #8fbf0d
}

.search-icon {
    position: absolute;
    top: -10px;
    right: 3px;
    width: 19px;
    height: 19px;
    fill: #646464;
    -webkit-transition: .3s;
    transition: .3s;
}

.header-top__search input:focus+.search-icon {
    fill: #8fbf0d
}

.header-middle {
    padding: 10px 0;
    background: #fff;
    font-size: 0;
}

.header-middle__logo {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
    font-size: 13px;
    color: #8fbf0d;
    position: relative;
}

.header-middle__logo span {
    position: absolute;
    left: 96px;
    bottom: 6px;
    max-width: 130px;
    line-height: .9;
}

.header-middle__banner {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    /* background: url("../img/banner.jpg") no-repeat right center/cover; */
    color: #fff;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 250px;
}

.header-middle__banner b {
    color: #3e54fd;
    font-size: 30px;
    font-weight: 900;
    max-width: 200px;
    line-height: 1;
}

.header-middle__banner p {
    max-width: 200px;
}

.header-bottom {
    border-top: 2px solid #f9f9f9;
    background: #fff;
    -webkit-box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.header-bottom__nav {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.header-bottom__nav ul {
    display: table;
    width: 100%;
}

.header-bottom__nav-item {
    display: table-cell;
    vertical-align: middle;
    border-right: 2px solid #f9f9f9;
    text-transform: uppercase;
    padding: 12px 0;
}

.header-bottom__nav-item a {
    color: #000;
    text-decoration: none;
}

.header-bottom__nav-item a.active,
.header-bottom__nav-item a:hover {
    color: #8fbf0d;
    text-decoration: none;
}

.header-bottom__nav-item:last-child {
    border-right: 0;
}

/***************    header end    ************/
/***************    breadcrumbs start     ************/

.breadcrumbs {
    margin-bottom: 30px;
    direction: rtl;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;
    color: #b7b7b7;
    font-size: 12px;
}

.breadcrumbs li:not(:last-child)::after {
    content: "/";
    display: inline-block;
    vertical-align: bottom;
    margin: 0 7px;
}

.breadcrumbs li a {
    color: #b7b7b7;
    font-weight: 400;
    text-decoration: none;
}

.breadcrumbs li a:hover,
.breadcrumbs li a.active {
    color: #000;
    text-decoration: none;
}

/***************    breadcrumbs end    ************/
.title {
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.15;
    margin-bottom: 25px;
}

/********** category end************/
/*********** info start*******************/
.info {
    font-size: 0;
    border-bottom: 2px solid #cacaca;
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.info__author {
    display: inline-block;
    vertical-align: top;
    width: 42%;
    padding-right: 10px;
}

.info__author-ava {
    display: inline-block;
    vertical-align: top;
    width: 15%;
}

.info__author-ava img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.info__author-desc {
    display: inline-block;
    vertical-align: top;
    width: 85%;
    padding-left: 10px;
    color: #686868;
}

.info__author-name {
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 10px;
    max-width: 130px;
}

.info__author-rate {
    padding-left: 10px;
    vertical-align: top;
    display: inline-block;
}

.info__author-rate-star {
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

.info__author-desc-date,
.info__author-desc-stat,
.info__author-desc-stat li {
    display: inline-block;
    vertical-align: bottom;
}

.info__author-desc-date {
    width: 30%;
    font-size: 11px;
}

.info__author-desc-stat {
    width: 70%;
    text-align: right;
    font-size: 11px;
}

.info__author-desc-stat-item {
    margin-right: 5px;
}

.info__author-desc-icon {
    vertical-align: baseline;
}

.eye-icon {
    width: 18px;
    height: 10px;
}

.comm-icon {
    width: 13px;
    height: 13px;
}

.flame-icon {
    width: 9px;
    height: 15px;
}

.info__social {
    display: inline-block;
    vertical-align: top;
    width: 58%;
    padding-left: 10px;
    color: #cacaca;
    font-size: 0;
    border-left: 1px solid #cacaca;
}

.info__social-share {
    font-size: 10px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.info__social ul {
    display: inline-block;
    vertical-align: middle;
}

.info__social-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
    color: #fff;
    font-size: 10px;
    padding:
        8px 6px;
    min-height: 31px;
    text-transform: uppercase;
    font-family: sans-serif;
    -webkit-transition: .2s;
    transition: .2s;
}

.info__social-item:nth-child(1) {
    background: #415897;
}

.info__social-item:nth-child(2) {
    background: #3aacec;
}

.info__social-item:nth-child(3) {
    background: #287bb4;
}

.info__social-item:nth-child(4) {
    background: #c41b1f;
    margin-right: 0;
}

.info__social-item:nth-child(1):hover {
    background: #314680;
}

.info__social-item:nth-child(2):hover {
    background: #2699db;
}

.info__social-item:nth-child(3):hover {
    background: #1c6596;
}

.info__social-item:nth-child(4):hover {
    background: #a81114;
}

.info__social-item a {
    color: #fff;
    display: block;
    text-decoration: none;
}

.info__social-icon {
    fill: #fff;
    margin-right: 2px;
    vertical-align: text-top;
    display: inline-block;
}

.info__social-item:nth-child(3) .info__social-icon {
    vertical-align: baseline;
}

.info__social-item:nth-child(1) .info__social-icon {
    width: 6px;
    height: 12px;
}

.info__social-item:nth-child(2) .info__social-icon {
    width: 11px;
    height: 11px;
}

.info__social-item:nth-child(3) .info__social-icon {
    width: 12px;
    height: 12px;
}

.info__social-item:nth-child(4) .info__social-icon {
    width: 10px;
    height: 12px;
}

/*********** info end ****************/
/***************    main start     ************/

.content {
    font-size: 0;
}

.main {
    width: 75%;
    display: block;
    vertical-align: top;
    font-size: 18px;
    margin: 0 auto
}

.second-title {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 700;
}

.article-paragraph {
    margin-bottom: 20px;
}

.article-img {
    display: block;
    margin: auto;
    margin-bottom: 25px;
    font-size: 0;
    max-width: 660px;
    width: 100%;
}

.article-img__left,
.article-img__right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.article-img--hand {
    max-width: 600px;
}

.article-img--hand .article-img__left {
    width: 58%;
    margin-right: 1%;
}

.article-img--hand .article-img__right {
    width: 40%;
}

.article-quote {
    color: #53adb7;
    font-style: italic;
    border-right: 5px solid;
    padding-right: 20px;
    margin: 25px 0;
    margin-right: 20px;
}

.diary {
    margin-bottom: 25px;
}

.diary__title {
    color: #53adb7;
    margin-bottom: 15px;
    padding-left: 55px;
    position: relative;
    font-weight: 700;
    direction: rtl;
}

.diary__title::before {
    content: "";
    background: url('../img/arrow.svg') no-repeat;
    width: 42px;
    height: 15px;
    position: absolute;
    top: 3px;
    left: 0;
}

.diary__box {
    background: #fff;
    padding: 40px 20px 1px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    direction: rtl;
}

.diary__intro {
    font-style: italic;
    margin-bottom: 30px;
    position: relative;
    font-weight: 700;
}

.diary__intro::before {
    content: "";
    /* background: url("../img/quote.png") no-repeat; */
    position: absolute;
    left: 0;
    top: -20px;
    width: 110px;
    height: 83px;
}

.diary__day {
    margin-bottom: 25px;
}

.days__caption {
    color: #fff;
    background: #53adb7;
    padding: 2px 8px 2px 12px;
    display: inline-block;
    position: relative;
    font-weight: 700;
    margin-left: 1rem;

}

.days__caption::before {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    height: 100%;
    width: 5px;
    background: #8fbf0d;
}

.table {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    margin: auto;
    margin-bottom: 25px;
    font-size: 15px;
    display: table;
    width: 90%;
    direction: rtl;
}

.table img {
    max-height: 105px;
}

.table p {
    min-height: 60px;
    margin-bottom: 15px;
    color: #000;
    font-size: 15px;
}

.table__row {
    display: table-row;

}

.table__row:nth-child(1) {
    text-align: center;
    font-weight: 700;
}

.table__row:nth-child(even) {
    background: #fdfdfd;
}

.table__cell {
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #f0eeee;
    border-bottom: 1px solid #f0eeee;
}

.table__cell:nth-child(1) {
    width: 55%;
    text-align: right;
    padding: 10px 20px;
    font-weight: 600;
}

.table__cell:nth-child(2) {
    width: 22.5%;
    text-align: center;
    color: #8fbf0d;
    font-weight: 700;
    vertical-align: middle;
    font-size: 16px;
}

.table__cell:nth-child(3) {
    text-align: center;
    font-weight: 700;
    color: #d30404;
    width: 22.5%;
    vertical-align: middle;
    font-size: 16px;
}

.table__row:nth-child(1) .table__cell {
    padding: 15px 20px;
}

.table__row:nth-child(1) .table__cell:nth-child(2),
.table__row:nth-child(1) .table__cell:nth-child(3) {
    vertical-align: top;
}

.table__row:nth-child(1) .table__title.table__cell {
    text-transform: uppercase;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    padding: 40px 20px 40px 40px;
}

.form {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    padding: 20px 50px 25px;
    font-size: 0;
    margin-bottom: 40px;
}

.form__prod {
    display: inline-block;
    vertical-align: bottom;
    width: 45%;
}

.form__order {
    display: inline-block;
    vertical-align: bottom;
    width: 55%;
    font-size: 22px;
    /*padding-bottom: 35px;*/
}

.form__title {
    font-weight: 700;
    margin-bottom: 25px;
    line-height: 1;
    direction: rtl;
}
  .b-prices{
  text-align: center;
  margin: -10px 0 10px;
      direction: rtl;
}
.old-price, .new-price
{
  display: inline-block;
 margin: 0 10px;
}
.old-price
{
  font-size: 20px;
  text-decoration: line-through;
}
.new-price
{
  font-weight: 700;
  font-size: 24px;
  color: #8fbf0d;
}
.b-note
{
  text-align: center;
  font-size: 12px;
  margin: 10px 0 0;
    direction: rtl;
}
.form input,
.form select,
.form textarea{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #e8e8e8;
    font-family: "Montserrat", sans-serif;
    padding: 12px 15px;
    font-size: 14px;
    outline: none;
    direction: rtl;
}

.form input:focus,
.form select:focus {
    border-color: #8fbf0d;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    background: #fff url('https://deltaman-lb-pf.nutragoods.org/img/sel.png') no-repeat 96% 50%;
}

.form input::-webkit-input-placeholder {
    color: #747474;
}

.form input::-moz-placeholder {
    color: #747474;
}

.form input:-moz-placeholder {
    color: #747474;
}

.form input:-ms-input-placeholder {
    color: #747474;
}

.form input:focus::-webkit-input-placeholder {
    color: transparent;
}

.form input:focus::-moz-placeholder {
    color: transparent;
}

.form input:focus:-moz-placeholder {
    color: transparent;
}

.form input:focus:-ms-input-placeholder {
    color: transparent;
}

.btn {
    background: #8fbf0d;
    color: #fff;
    font-weight: 700;
    display: inline-block;
   
    font-size: 16px;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat",
        sans-serif;
    border: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    width: 100%;
    direction: rtl;
}
.btn span{
  position:relative;
  display:block;
  width:100%;
  height:100%;
   padding: 20px 28px;
}
.btn span::before {
    content: "";
    width: 50px;
    height: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px solid #53adb7;
    border-right: 1px solid #53adb7;
    opacity: 0;
}

.btn span::after {
    content: "";
    width: 50px;
    height: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #53adb7;
    border-left: 1px solid #53adb7;
    opacity: 0;
}

.btn:hover {
    background: #53adb7;
}

.btn:hover span::before {
    opacity: 1;
    top: -5px;
    right: -5px;
}

.btn:hover span::after {
    opacity: 1;
    bottom: -5px;
    left: -5px;
}

.tags, .read{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.tags {
    margin-bottom: 15px;
    font-size: 15px;
}

.tags li {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    margin-right: 15px;
}

.tags a {
    display: block;
    padding: 7px 10px;
    font-weight: 400;
    background: #53adb7;
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
}

.tags a:hover {
    background: #8fbf0d;
}

.share {
    margin-bottom: 20px;
    display: table;
    width: 100%;
}

.share li {
    display: table-cell;

    vertical-align: middle;
    padding-right: 15px;
}

.share a {
    background: #fff;
    border: 2px solid #eaeaea;
    padding: 12px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
}

.share a:hover {
    border-color: #b7b7b7
}

.share li:nth-child(1) a {
    color: #5967bd
}

.share li:nth-child(2) a {
    color: #3d9bfe
}


.share li:nth-child(3) a {
    color: #3482fe
}

.fb-square-icon {
    width: 15px;
    height: 15px;
}

.tw-icon {
    width: 19px;
    fill: #3d9bfe;
    height: 16px;
}

.messenger-icon {
    width: 30px;
    height: 18px;
}

.share svg,
.share img {
    vertical-align: text-top;
    display: inline-block;
}

.share svg {
    margin-right: 5px;

}

.read {
    margin-bottom: 40px;
    font-size: 0;
}

.read li {
    display: inline-block;

    vertical-align: top;
    width: 50%;
}

.read a {
    text-decoration: none;
    color: #000;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 400;
}

.read__icon {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    height: 43px;
    text-align: center;
    border-radius: 50px;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
}

.read li:nth-child(1) .read__icon {
    background: #5967bd;
    padding: 14px 0px;
}

.read li:nth-child(2) .read__icon {
    background: #379adf;
    padding: 9px 0px;
}

.read span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    padding-left: 10px;
}

.fb-icon {
    width: 8px;
    height: 16px;
    fill: #fff
}

.tg-icon {
    width: 25px;
    height: 25px;
    fill: #fff
}

.read a:hover .read__icon {
    -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .5);

}

.read li:nth-child(1) a:hover {
    color: #5967bd
}

.read li:nth-child(2) a:hover {
    color: #379adf
}

/***************    main end    ************/
/***************    comments start     ************/

.comments {
    direction: rtl;
}

.comments__title {
    font-weight: 700;
    font-size: 28px;
    border-bottom: 2px solid #c4c4c4;
    margin-bottom: 30px;
}

.comments__item {
    margin-bottom: 30px;
    font-size: 17px;

}

.comments__item--answer {
    margin-left: 70px;
}

.comments__item::after {
    content: "";
    clear: both;
    display: table;
}

.comments__img {
    float: right;
    width: 50px;
    height: 50px;
}

.comments__img img {
    margin-bottom: 0;
    height: 61px;
    max-width: 100%;
    width: 49px;
    border-radius: 10px;
}

.comments__content {
    padding-right: 65px;
}

.comments__name {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 15px;
}

.comments__rate {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
}

.comments__text {
    margin-bottom: 15px;
}

.comments__text img {
    margin-top: 15px;
    display: block;
}

.comments__date {
    display: inline-block;
    font-size: 13px;
    color: #adb2bf;
    vertical-align: bottom;
    margin-right: 15px;
}

.comments__like {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    color: #adb2bf;
}

.comments__like-negative,
.comments__like-positive {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}

.comments__like-negative .heart-icon {
    fill: #adb2bf
}

.comments__like-positive .heart-icon {
    fill: #e30505
}

.comments__like .heart-icon,
.comments__like span {
    display: inline-block;
    vertical-align: middle;
}

.star-icon,
.star-full-icon {
    width: 15px;
    height: 15px;
}

.heart-icon {
    width: 13px;
    height: 12px;
}

/***************    comments end    ************/
/***************    aside start     ************/

.aside {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    display: none;
}

.news {
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    border-top: 2px solid #53adb7;
    padding: 14px 9px;
    margin-bottom: 25px;
}

.news__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 13px;
}

.news__item {
    font-size: 0;
    margin-bottom: 25px;
}

.news li:last-child {
    margin-bottom: 0;
}

.news__text,
.news__img {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.news__img {
    width: 44%;
    position: relative;
}

.news__img img {
    display: block;
}

.news__caption {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding: 4px 4px 4px 8px;
    display: inline-block;
}

.news__caption span {
    position: relative;
    z-index: 1;
}

.news__caption::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-color: #000;
    top: 0;
    right: -11px;
}

.news__caption::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: #000;
    bottom: 0;
    right: -11px;
}

.news__caption--health {
    background: #8fbf0d;
}

.news__caption--health::after {
    border-top-color: #8fbf0d;
}

.news__caption--health::before {
    border-bottom-color: #8fbf0d;
}

.news__caption--patient {
    background: #53adb7;
}

.news__caption--patient::after {
    border-top-color: #53adb7;
}

.news__caption--patient::before {
    border-bottom-color: #53adb7;
}

.news__caption--useful {
    background: #415897;
}

.news__caption--useful::after {
    border-top-color: #415897;
}

.news__caption--useful::before {
    border-bottom-color: #415897;
}

.news__text {
    width: 56%;
    padding-left: 13px;
    line-height: 1;
}

.news__text a {
    color: #000;
    text-decoration: none;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
}

.news__text a:hover {
    color: #8fbf0d;
    text-decoration: none;
}

.news__box {
    font-size: 0;
}

.news__date,
.news__stat {
    font-size: 11px;
    color: #a4a4a5;
    font-weight: 500;
    display: inline-block;
    vertical-align: bottom;
    width: 50%;
}

.news__stat {
    text-align: right;
}

.news__watch,
.news__comm {
    display: inline-block;
    vertical-align: bottom;
}

.news__watch {
    margin-right: 5px;
}

.news__watch .eye-icon,
.news__watch span,
.news__comm .comm-icon,
.news__comm span {
    display: inline-block;
    vertical-align: text-top;
}

.news__item--main {
    display: block;
}

.news__item--main .news__img {
    display: block;
    width: 100%;
    margin-bottom: 13px;
}

.news__item--main .news__text {
    padding-left: 0;
    width: 100%;
}

.aside-banner {
    background: url('https://deltaman-lb-pf.nutragoods.org/img/aside-banner.jpg') no-repeat center/cover;
    padding: 40px 15px 30px 10px;
    color: #fff;
}

.aside-banner__prod {
    float: right;
}

.aside-banner__text {
    font-size: 0;
}

.aside-banner__text-left {
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block;
    vertical-align: bottom;
    font-weight: 600;
    line-height: 1;
    width: 68%;
}

.aside-banner__text-right {
    display: inline-block;
    vertical-align: bottom;
    width: 32%;
}

.aside-banner__text-left span {
    display: block;
}

.aside-banner__text-left span:nth-child(1) {
    font-size: 14px;
}

.aside-banner__text-left span:nth-child(2) {
    font-size: 27px;
    font-weight: 900;
}

.aside-btn {
    background: #8fbf0d;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 5px;
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
    display: block;
    text-align: center;
}

.aside-btn:hover {
    border-color: #53adb7;
    color: #fff;
    background: #53adb7;
}
.note {
    text-align: center;
    font-size: 16px;
    padding-bottom: 10px;
    color: #8fbf0d;
    font-weight: bold;
    direction: rtl;
}
/***************    aside end    ************/

.ac_footer {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 50px 0;
    color: #A12000;
    direction: rtl;
}

.ac_footer a {
    color: #A12000;
}

.ac_footer p {
    text-align: center;
}

img[height="1"], img[width="1"] {
    display: none !important;
}

.radios-lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px 20px 25px;
}

.form_radio_btn,
.form_radio_btn-lang {
    display: block;
}

.form_radio_btn input[type=radio],
.form_radio_btn-lang input[type=radio] {
    display: none;
}

.radios-lang .form_radio_btn-lang {
    border: none;
}

.radios-lang .form_radio_btn-lang label {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    padding: 4px 16px;
    border: 1px solid transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #a3a3a3;
}


/* Checked */

.radios-lang .form_radio_btn-lang input[type=radio]:checked+label,
.radios-lang .form_radio_btn-lang.active {
    border: 1px solid #a3a3a3;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 24px rgba(22, 116, 212, 0.7));
            filter: drop-shadow(0px 4px 24px rgba(22, 116, 212, 0.7));
    border-radius: 30px;
}


/* Hover */

.radios-lang .form_radio_btn-lang label:hover {
    color: #8fbf0d;
}

.radios-lang .form_radio_btn-lang:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}


/* Disabled */

.radios-lang .form_radio_btn-lang input[type=radio]:disabled+label {
    background: #efefef;
    color: #666;
}

.radios-lang .form_radio_btn-lang:last-child {
    margin-right: 0;
}

h1, h2, h3, h4, .article-paragraph, blockquote{
    direction: rtl;
}
@media(max-width:991px) {

	.header-top__nav,
	.header-top__search input,
	.header-bottom,
	.header-middle__banner,
	.info__social-share,
	.info__social-item span,
	.aside,
	.read,
	.share span {
		 display: none;
	}

	header {
		 position: relative;
	}

	.header-top {
		 padding: 0;
	}

	.header-top__search {
		 position: absolute;
		 right: 10px;
		 top: 50%;
		 transform: translateY(-50%);
		 width: auto;
	}

	.search-icon {
		 position: static;
	}

	.header-middle {
		 padding: 5px 0;
		 box-shadow: 0px 7px 5px -2px rgba(0, 0, 0, 0.2);
		 margin-bottom: 10px;
	}

	.header-middle__logo {
		 padding-left: 60px;
		 position: relative;
		 font-size: 9px;
		 width: 100%;
	}

	.header-middle__logo span {
		 left: 125px;
		 bottom: 4px;
		 max-width: 90px;

	}

	.header-middle__logo img {
		 width: 100px;
	}

	.header-middle__logo::before {
		 content: "";
		 position: absolute;
		 left: 10px;
		 top: 50%;
		 transform: translateY(-50%);
		 width: 33px;
		 height: 20px;
		 background: linear-gradient(#646464 0, #646464 4px, #fff 0, #fff 8px, #646464 0, #646464 12px, #fff 0, #fff 16px, #646464 0, #646464 20px);
	}

	.breadcrumbs {
		 margin-bottom: 10px;
		 line-height: 1;
	}

	.breadcrumbs li {
		 font-size: 11px;
	}

	.breadcrumbs li:not(:last-child)::after {
		 margin: 0;
	}

	.main {
		 width: 100%;
		 margin-left: 0;
	}

	.title {
		 font-size: 20px;
		 margin-bottom: 15px;
	}

	.info {
		 padding-bottom: 10px;
		 margin-bottom: 15px;
		 direction: rtl;
	}

	.info__social {
		 display: block;
		 padding-left: 50px;
		 border: 0;
	}

	.info__social-item {
		 width: 22px;
		 min-height: 1px;
		 padding: 5px;
		 text-align: center;
	}

	.info__social-item:nth-child(3) {
		 padding: 4px 5px;
	}

	.info__author {
		 width: 270px;
	}

	.info__author-name {
		 margin-bottom: 0;
	}

	.second-title {
		 font-size: 18px;
		 margin-bottom: 15px;
	}

	.article-paragraph,
	.article-img {
		 margin-bottom: 15px;
	}

	.article-quote {
		 margin: 15px 0;
	}

	.article-img__left,
	.article-img__right {
		 display: block;
		 width: 100%;
		 margin: auto;
	}

	.article-img__left {
		 margin-bottom: 5px;
	}

	.article-img--both {
		 max-width: 320px;
		 margin-bottom: 40px;
	}

	.diary {
		 margin-bottom: 15px;
	}

	.diary__box {
		 padding-top: 20px;
		 padding-bottom: 20px;
	}

	.diary__intro::before {
		 top: -10px;
	}

	.diary__day {
		 margin-bottom: 15px;
	}

	.article-img--hand .article-img__left {
		 width: 100%;
		 margin-right: 0%;
		 margin-bottom: 5px;
		 text-align: center;
	}

	.article-img--hand .article-img__right {
		 width: 100%;
		 text-align: center;
	}

	.article-img--hand {
		 margin-bottom: 0;
	}

	.table {
		 display: block;
		 font-size: 0;
		 width: 300px;
		 margin-bottom: 15px;
	}

	.table__row {
		 display: block;
	}

	.table__cell,
	.table__cell:nth-child(2),
	.table__cell:nth-child(3) {
		 display: inline-block;
		 width: 50%;
		 font-size: 15px;
	}

	.table__cell:nth-child(2),
	.table__cell:nth-child(3) {
		 padding: 0px 10px 10px;
		 font-size: 16px;
	}

	.table__cell:nth-child(1) {
		 display: block;
		 width: 100%;
		 text-align: center;
		 border: 0;
	}

	.table__cell:nth-child(2) {
		 border-right-width: 2px;
	}

	.table__cell:nth-child(3) {
		 border-right: 0;
	}

	.table__row:nth-child(1) .table__title.table__cell {
		 text-align: center;
		 font-size: 18px;
		 padding: 20px 15px;
	}

	.tags {
		 margin-bottom: 10px;
	}

	.tags li {
		 margin-right: 0;
		 margin-bottom: 2px;
	}

	.share {
		 display: block;
		 margin-bottom: 30px;
	}

	.share li {
		 padding-right: 5px;
	}

	.share a {
		 width: 40px;
		 position: relative;
		 height: 40px;
	}

	.share a svg,
	.share a img {
		 position: absolute;
		 top: 50%;
		 max-width: none;
		 left: 50%;
		 transform: translate(-50%, -50%);
	}

	.comments__item--answer {
		 margin-left: 0px;
	}

	.comments__name {
		 margin-bottom: 0;
	}

	.comments__rate {
		 display: block;
		 margin-bottom: 0;
	}

	.comments__text {
		 font-size: 17px;
		 /*margin-left: -65px;*/
		 margin-top: 12px;
		 margin-bottom: 5px;
	}

	.comments__date {
		 /*margin-left: -65px;*/
	}

	.info__author-desc {
		 padding-right: 10px;
	}
}

@media(max-width:750px) {
	.form {
		 padding-left: 10px;
		 padding-right: 10px;
	}

	.form__prod,
	.form__order {
		 display: block;
		 width: 100%;
		 text-align: center;
	}

	.form__prod {

		 margin-bottom: 20px;
	}

	.form__title {
		 margin-bottom: 10px;
	}

	.form__order {
		 max-width: 300px;
		 margin: auto;
		 margin-bottom: 0;
	}

	.form input,
	.form select {
		 margin-bottom: 10px;
	}

	.btn {
		 font-size: 14px;
		 width: 100%;
	}


}

@media(max-width:319px) {
	body {
		 zoom: .8;
	}
}

.cls-1 {
    fill: #a4a4a5;
    fill-rule: evenodd
}

.cls-2 {
    fill: #a4a4a5;
    fill-rule: evenodd
}

.cls-3 {
    fill: #eb0a0f;
    fill-rule: evenodd
}

.cls-4 {
    fill-rule: evenodd
}

.cls-5 {
    fill-rule: evenodd
}

/**/
.country_select {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; max-width:100%; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }
.errField { display:none; font-size: 14px; background: #f00; color: #fff; text-align: center; padding: 10px; margin-bottom:10px; }
.errorMessage {font-size: 15px;background: rgba(255, 0, 0, 0.64);color: #fff;text-align: center;padding: 5px 10px;position: absolute;margin: 10px 0 0; z-index: 999;}